* {
  margin: 0;
  padding: 0;
}
html,body {
  height: 100%;
}
.wrapper {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}